* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a .clr {
    clear: both;
}

/*=================================================
                title part css start
=================================================*/
.title {
    text-align: center;
}

.title h1 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #2d3e50;
}

.title p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #666666;
    width: 570px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

/*=================================================
                 title part css end
=================================================*/



/*=================================================
                 header top part css start
=================================================*/
#menu_top {
    padding: 10px 0px;
    background: #2d3e50;
}

#menu_top .left a p {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #fff;
}

#menu_top .left a p .fa-phone-alt {
    margin-left: 10px;
    padding: 0 5px;
}

#menu_top .left a p .fa-envelope {
    margin-left: 30px;
    padding: 0 5px;
}

#menu_top .right a {
    display: inline-block;
    float: right;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 16px;
}

#menu_top .right a span:hover {
    color: #fbaa33;
}

/*=================================================
                 header top part css end
=================================================*/
/*=================================================
                 menu part css stat
=================================================*/
.navbar-brand img {
    margin-top: -20px !important;
}

.navbar-nav {
    margin: 40px 0px;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #2d3e50 !important;
    transition: .4s;
}

nav ul li.active a,
nav ul li a:hover {
    color: #fbaa33 !important;
}

nav .button a {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #fff;
    background: #fbaa33;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 150px;
}

/*=================================================
                 menu part css end
=================================================*/
/*=================================================
                 banner part css srart
=================================================*/
#banner_part {
    position: relative;
}

#banner_part .banner_item {
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
}

#banner_part .banner_item .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 140px;
    padding-bottom: 230px;
}

#banner_part .banner_item .overlay .text {
    color: #fff;
}

#banner_part .banner_item .overlay .text h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 40px;

}

#banner_part .banner_item .overlay .text h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
}

#banner_part .banner_item .overlay .text p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    width: 560px;
    margin-top: 30px;
}

#banner_part .banner_item .overlay .text a {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    background: #2d3e50;
    color: #fff;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 5px;
    transition: .4s;
}

#banner_part .banner_item .overlay .text a:hover {
    background: #fbaa33;
}

.prev {
    font-size: 30px;
    color: #fff;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    line-height: 60px;
    transition: .4s;
}

.next {
    font-size: 30px;
    color: #fff;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    line-height: 60px;
    transition: .4s;

}

.next:hover,
.prev:hover {
    background: #fbaa33;
    border: 1px solid #fbaa33;
}

#banner_part .class_part .container {
    width: 80%;
    margin: 0 auto;
    background: #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

#banner_part .class_part .class {
    width: 33%;
    margin: 1px;
    text-align: center;
    background: #f5f5f5;
    transition: .4s;
}

#banner_part .class_part .class img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#banner_part .class_part .class h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: #444444;
    margin-top: 20px;
}

#banner_part .class_part .class a p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #999999;
    margin: 20px 0px;
    transition: .4s;
    display: inline-block;
}

#banner_part .class_part .class a p:hover {
    color: #fbaa33;
}

#banner_part .class_part .class:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

/*=================================================
                 banner part css end
=================================================*/
/*=================================================
                 about part css start
=================================================*/
#about_part {
    margin-top: 200px;
}

#about_part .about_slider .slider_item img {
    width: 100%;
}

#about_part ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#about_part ul li {
    float: left;
    margin-left: 10px;
}

#about_part ul li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #222222;
    background: transparent;
    outline: 0;
}

#about_part ul li.slick-active button {
    background: #fbaa33;
    border-color: #fbaa33;
}




#about_part .text p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #444444;
    margin-top: 30px;
}

#about_part .text a {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    padding: 15px 20px;
    background: #2d3e50;
    color: #fff;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 5px;
    transition: .4s;
}

#about_part .text a:hover {
    background: #fbaa33;
}

/*=================================================
                 about part css end
=================================================*/
/*=================================================
                 counter part css start
=================================================*/
#counter_part {
    margin-top: 100px;
    background: url(../images/counter-bg-img.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;
}

#counter_part .counters {
    text-align: center;
}

#counter_part .counters h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#counter_part .counters p {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: #fff;
    position: relative;
}

#counter_part .counters p::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 20%;
    width: 50%;
    height: 3px;
    background: #fbaa33;
    border-radius: 5px;

}

#counter_part .counters p::before {
    position: absolute;
    content: "";
    bottom: -10px;
    right: 10%;
    width: 10%;
    height: 3px;
    background: #fbaa33;
    border-radius: 5px;
}

/*=================================================
                 counter part css end
=================================================*/
/*=================================================
                 course part css start
=================================================*/
#course_part {
    margin-top: 100px;
    margin-bottom: 50px;
}

#course_part .gps_design {
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    height: 600px;
    transition: .4s;
    margin-bottom: 30px;
    margin-top: 30px;
}

#course_part .gps_design .img {
    position: relative;
}

#course_part .gps_design .img img {
    width: 100%;
}

#course_part .gps_design .img .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: .4s;
}

#course_part .gps_design .img .overlay a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #fbaa33;
}

#course_part .gps_design .condent {
    margin-top: 20px;
}

#course_part .gps_design .condent .left .img {
    float: left;
}

#course_part .gps_design .condent .left .text {
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

#course_part .gps_design .condent .left .text h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #444444;
}

#course_part .gps_design .condent .left .text h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444444;
    margin-top: 5px;
}

#course_part .gps_design .condent .right {
    text-align: right;
}

#course_part .gps_design .condent .right .icon {
    font-size: 13px;
    margin-top: 10px;
    color: #fbaa33;
}

#course_part .gps_design .condent .right .text p {
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #999999;
    margin-top: 10px;
}

#course_part .gps_design .designation h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: #222222;
    margin: 20px 0px;
    text-align: left;
    transition: .4s;
}

#course_part .gps_design .details p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #222222;
    text-align: left;
    text-align: justify;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

#course_part .gps_design .duration {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#course_part .gps_design .duration .one {
    width: 33%;
    text-align: left;
}

#course_part .duration .one h4 {
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #999999;
    text-transform: capitalize;
}

#course_part .gps_design .duration .one p {
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #444444;
    font-weight: bold;
    margin-top: 5px;
}

#course_part .gps_design .button a {
    margin-top: 35px;
    display: inline-block;
    padding: 15px 20px;
    background: #2d3e50;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    transition: .4s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}

#course_part .gps_design:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#course_part .gps_design:hover .button a {
    background: #fbaa33;
}

#course_part .gps_design:hover .designation h1 {
    color: #fbaa33;
}

#course_part .gps_design:hover .img .overlay {
    transform: scale(1);
}

#course_part .prev {
    font-size: 20px;
    color: #2d3e50;
    border: 1px solid #2d3e50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    transition: .4s;
}

#course_part .next {
    font-size: 20px;
    color: #2d3e50;
    border: 1px solid #2d3e50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    transition: .4s;

}

#course_part .next:hover,
#course_part .prev:hover {
    color: #fff;
    background: #fbaa33;
    border-color: #fbaa33;
}


/*=================================================
                 course part css end
=================================================*/
/*=================================================
                 events part css start
=================================================*/
#event_part {
    margin-top: 100px;
}

#event_part .calender {
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
}

#event_part .calender .top h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2d3e50;
    padding-top: 40px;
    padding-bottom: 20px;
}

#event_part .calender .top h3 i {
    float: right;
    margin-left: 15px;
}

#event_part .calender .img img {
    width: 100%;
}

#event_part .calender .bottom p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #2d3e50;
    margin-top: 10px;
    display: inline-block;
    margin-right: 40px;
}

#event_part .calender .bottom p .red {
    color: #ff3232;
}

#event_part .calender .bottom p .green {
    color: #3d7e34;
}

#event_part .events {
    width: 100%;
    padding: 20px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    transition: .4s;
    border: 1px solid transparent;
    margin-bottom: 25px;
}

#event_part .events .img {
    width: 40%;
    position: relative;

}

#event_part .events .img img {
    width: 100%;
    height: 100%;
}

#event_part .events .img .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #ff3232;
    color: #fff;
    text-align: center;

}

#event_part .events .img .bg {
    background: #3d7e34;
}

#event_part .events .img .overlay p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}

#event_part .events .text {
    width: 55%;
}

#event_part .events .text h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2d3e50;
    transition: .4s;
}

#event_part .events .text p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #2d3e50;
    margin-top: 20px;
    margin-bottom: 20px;
}

#event_part .events .text h6 {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: #777777;
    display: inline-block;
    margin-right: 30px;
}

#event_part .events a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #2d3e50;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    transition: .4s;
}

#event_part .events:hover {
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
}

#event_part .events:hover h2 {
    color: #fbaa33;
}

#event_part .events:hover a {
    background: #fbaa33;
}

#event_part .events:hover .text h6 i {
    color: #fbaa33;
}

/*=================================================
                 events part css end
=================================================*/
/*=================================================
                 testi part css start
=================================================*/
#testi_part {
    margin-top: 100px;
    background: #f5f5f5;
    padding: 60px 0px;
}

#testi_part .prev {
    position: absolute;
    top: 25%;
    left: -50px;
    transform: translateX(-50%);
    border: 1px solid #2d3e50;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2d3e50;
    color: #fff;
    transition: .4s;
    font-size: 20px;

}

#testi_part .next {
    position: absolute;
    bottom: 25%;
    left: -50px;
    transform: translateX(-50%);
    border: 1px solid #2d3e50;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2d3e50;
    color: #fff;
    transition: .4s;
    font-size: 20px;

}

#testi_part .next:hover,
#testi_part .prev:hover {
    background: #fbaa33;
    border-color: #fbaa33;
}

#testi_part .text_part p {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #444444;
    margin-top: 60px;
    line-height: 22px;
    margin-bottom: 30px;
}

#testi_part .text_part h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #444444;

}

#testi_part .text_part h2 span {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #444444;
    font-weight: 400;

}

#testi_part .text_part .icon {
    margin-top: 10px;
    color: #fbaa33;
}

#testi_part .question h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #444444;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#testi_part .question h2 i {
    float: right;
    line-height: 28px;
}

#testi_part .question .text h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #fff;
    background: #fbaa33;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}

#testi_part .question .text h3 i {
    float: right;
}

#testi_part .question .text p {
    padding: 15px;
    background: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 10px;
}

/*=================================================
                 testi part css end
=================================================*/
/*=================================================
                 testi part css end
=================================================*/
#teacher_part {
    margin-top: 100px;
}

#teacher_part .teacher {
    text-align: center;
}

#teacher_part .teacher .img {
    width: 100%;
    height: 100%;
    position: relative;
}

#teacher_part .teacher .img img {
    width: 100%;
    height: 100%;
}

#teacher_part .teacher h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #444444;
    font-weight: bold;
    margin-top: 30px;
    transition: .4s;
}

#teacher_part .teacher p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #444444;
    margin-top: 5px;
    display: inline-block;
    position: relative;
}

#teacher_part .teacher p::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 20px;
    width: 50%;
    height: 2px;
    background: #fbaa33;
    border-radius: 5px;
}

#teacher_part .teacher p::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 70%;
    width: 10%;
    height: 2px;
    background: #fbaa33;
    border-radius: 5px;
}

#teacher_part .teacher .img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#teacher_part .teacher .img .overlay .icon {
    position: absolute;
    bottom: -20px;
    left: 50px;
}

#teacher_part .teacher .img .overlay .icon i {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: #2d3e50;
    color: #fff;
    float: left;
    line-height: 40px;
    border-radius: 50%;
    transition: .4s;
    opacity: 0;

}

#teacher_part .teacher .img .overlay .icon i:hover {
    background: #fbaa33;
}

#teacher_part .teacher .img:hover .overlay .icon i {
    opacity: 1;
}

#teacher_part .teacher .scale {
    transition: .4s;
}

#teacher_part .teacher:hover .scale {
    transform: scale(1.1);
}

/*=================================================
                 testi part css end
=================================================*/
/*=================================================
                 blog part css start
=================================================*/
#blog_part {
    margin-top: 100px;
    background: url(../images/blog-img-bg.png) center no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 130px;
}

#blog_part .title h1 {
    color: #fff;
}

#blog_part .title p {
    color: #fff;
}
.blog_partimg{
    margin-top: -100px;
}
.blog_partimg .left .img {
    width: 100%;
    height: 100%;
    position: relative;
}

.blog_partimg .left .img img {
    width: 100%;
}

.blog_partimg .left .img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 20%, rgba(0, 0, 0, 0.99) 90%);
}

.blog_partimg .left .img .overlay .icon {
    width: 0;
    position: absolute;
    top: 40px;
    right: 20px;
    transition: .4s;
    overflow: hidden;
}

.blog_partimg .left .img .overlay .icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    background: #2d3e50;
    border-radius: 50%;
    transition: .4s;
    opacity: 0;
}
.blog_partimg .left .img .overlay .icon i:hover{
    background: #fbaa33;
}
.blog_partimg .left .img:hover .overlay .icon i{
    opacity: 1;
}
.blog_partimg .left .img:hover .overlay .icon{
    width: 40px;
}
.blog_partimg .left .img .overlay .text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}
.blog_partimg .left .img .overlay .text .edu h4{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}
.blog_partimg .left .img .overlay .text .edu p a{
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #fff;
}
.blog_partimg .left .img .overlay .text .details{
    margin-top: 20px;
}
.blog_partimg .left .img .overlay .text .details .date{
    float: left;
}
.blog_partimg .left .img .overlay .text .details .date h5{
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
}
.blog_partimg .left .img .overlay .text .details .share{
    float: right;
    margin-left: 98px;
}
.blog_partimg .left .img .overlay .text .details .share h6{
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
}
.blog_partimg .left .img .overlay .text .details .share h6 span{
    margin-left: 20px;
}
.blog_partimg .soto{
    padding-top: 30px;
}
.blog_partimg .soto .img{
    width: 100%;
    position: relative;
}
.blog_partimg .soto .img img{
    width: 100%;
    
}
.blog_partimg .soto .img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 20%, rgba(0, 0, 0, 0.99) 90%);
}
.blog_partimg .soto .img .overlay .text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    
}
.blog_partimg .soto .img .overlay .text h4{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #fff;
}
.blog_partimg .soto .img .overlay .text p a{
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    color: #fff;
}
/*=================================================
                 blog part css end
=================================================*/
/*=================================================
                 footer part css start
=================================================*/
#footer_part{
    margin-top: 100px;
    background: url(../images/footer-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 30px;
}
#footer_part .left p{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #fff;  
    margin-top: 40px;
}
#footer_part .left .icon i{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #2d3e50;
    transition: .4s;
}
#footer_part .left .icon i:hover{
    background: #fbaa33;
    color: #fff;
}
#footer_part h2{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;  
    margin-bottom: 58px;
}
#footer_part .middle ul{
    float: left;
    
}
#footer_part .middle ul.rights{
    margin-left: 50px;
}
#footer_part .middle ul li{
    margin-bottom: 30px;
}
#footer_part .middle ul li a{
    font-family: 'Arimo', sans-serif;
    font-size: 16px; 
    color: #fff;
}
#footer_part .right .one{
    display: flex;
    margin-bottom: 40px;
}
#footer_part .right .one .icon i{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #2d3e50;
}
#footer_part .right .one .text{
    margin-left: 20px;
}
#footer_part .right .one .text h4{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fbaa33;
}
#footer_part .right .one .text p{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    width: 285px;
}
#footer_part .instagram{
    width: 100%;
    border: 1px solid #999999;
    position: relative;
}
#footer_part .instagram img{
    width: 14.25%;
    margin-right: -4px;
}
#footer_part .instagram h3{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    color: #444444;
    padding: 10px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#footer_part .copyright{
    text-align: center;
    color: #fff;
    padding: 10px;
}
#footer_part .copyright p{
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#footer_part .copyright p span{
    color: #fbaa33;
    cursor: pointer;
}
/*=================================================
                 footer part css end
=================================================*/
